.header {
	background: white;
	box-shadow: rgba(169, 169, 169, 0.52) 0px 5px 15px;
	border-radius: 10px;
	width: 80%;
	margin: auto;
	// margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	font-size: clamp(11px, 1.3vw, 22px);

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;


		h2 {
			margin: 0px;
		}

		img {
			width: 40%;
			border-radius: 50%;
			padding: 10px;
		}

		.name {

			display: flex;

			.online {
				width: 15px;
				height: 15px;
				margin-top: 17px;
				border: 5px solid rgba(19, 169, 19, 0.7);
				background-color: rgba(19, 169, 19, 1);
				border-radius: 50%;
			}

			.offline {
				width: 15px;
				margin-top: 17px;
				height: 15px;
				border: 5px solid rgba(255, 0, 0, 0.7);
				background-color: rgba(255, 0, 0, 1);
				border-radius: 50%;
			}
		}
	}

	//	.left img {
	//		width: 200px;
	//		height: 200px; /* Optionnel, si vous souhaitez également spécifier la hauteur */
	//		border-radius: 50%;
	//		object-fit: cover;
	//	  }


	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		gap: 10px;
		width: 40%;

		h1 {
			padding: 0;
		}

		.bar-container {
			width: 60%;
			height: 30%;
			max-height: 30px;
			background-color: gray;
			position: relative;
			border-radius: 10px;
		}

		.bar {
			position: absolute;
			top: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: white;
		}

		.win-bar {
			background: rgba(19, 169, 19, 0.7);
			border-radius: 10px 0 0 10px;
		}

		.loss-bar {
			background: rgba(255, 0, 0, 0.7);
			border-radius: 0 10px 10px 0;
		}

		.label {
			font-size: clamp(14px, 1.3vw, 22px);
			font-weight: bold;
			text-align: center;
		}

	}
}

@media (max-width: 900px) {
	.header {
		font-size: clamp(8px, 1.3vw, 22px);
		justify-content: center;
		gap: 10%;
		margin-bottom: 40px;

		h2 {
			font-size: clamp(7px, 1.3vw, 22px);
		}

		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			// gap: 10px;
			width: 40%;

			h2 {
				margin: 0px;
			}

			img {
				width: 40%;
			}

		}

		.right {
			gap: 2px;

			.bar-container {
				height: 25%;
			}

			.label {
				font-size: clamp(8px, 1.3vw, 22px);
				font-weight: bold;
				text-align: center;
			}

		}
	}
}
