.friendIcon {
    height: 40px;
    width: auto;
    margin: 0px 20px;
}

.duelGamemodes{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    display: flow;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    background-color: #180330;
    vertical-align: middle;
}

.duelQueue{
    color: black;
    background-color: #a662f4;
    border: 1px solid #1d0439;
    box-shadow: #7e1aef 0px 3px 7px;
    margin: auto;
}

.duelQueue:hover{
    background-color: #ae70f5 + 30;
}

.duelButton {
	height: 100%;
	width: auto;
}
