h1 {
    text-align: center;
    padding-bottom: 20px;
}

.settinglist {
	background: rgb(231, 239, 245);
	box-shadow: rgba(169, 169, 169, 0.52) 0px 5px 15px;
	border-radius: 30px;
	padding: 20%;
	//width: 80%;
	//margin-bottom: 100px;
	align-items: start;
	flex-direction: column;
	gap: 100px;
	max-height: 370px;
	display: flex;
}

label {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .modal-buttons button {
    margin-left: 10px;
  }