.chat {
	width: 100%;
	transition: all 0.4s ease-in;

	.contactInfo {
		box-shadow: rgba(169, 169, 169, 0.52) 0px 5px 15px;
		height: 50px;
		display: flex;
		text-align: center;
		align-items: center;
		padding-left: 20px;
		text-transform: capitalize;
		font-size: clamp(8px, 1vw, 18px);


		.online {
			margin-left: 30px;
			border: 5px solid rgba(19, 169, 19, 0.7);
			border-radius: 50%;
		}

		.offline {
			margin-left: 30px;
			border: 5px solid rgba(255, 0, 0, 0.7);
			border-radius: 50%;
		}
	}


	.chatBox {
		width: 100%;
		height: calc(100vh - 50px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.chatMessage {
			width: 100%;
			padding-bottom: 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			overflow-y: auto;
			overflow-x: hidden;

			&:first-child {
				padding-top: 20px;
			}

			.chatMessageBox {
				width: 44%;
				text-align: start;
				display: flex;
				flex-direction: column;
				border-radius: 10px;
				padding: 10px;

				.userInfo {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					.date {
						font-size: 12px;
					}
				}

				.messageChat {
					display: flex;
					justify-content: flex-start;
					width: 100%;

					.chatText {
						width: 100%;
						padding-left: 10px;
						white-space: pre-wrap;
						overflow-x: hidden;
						word-wrap: break-word;
					}
				}

			}

			.me {
				margin-left: auto;
				margin-right: 20px;
				background: rgb(120, 177, 238);
			}

			.contact {
				margin-right: auto;
				margin-left: 20px;
				background: #dcdcdc;
			}
		}

		form {
			box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
			border-radius: 10px;
			width: 95%;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;

			textarea {
				width: 90%;
				border: none;
				font-size: 15px;
				height: auto;
				padding: 5px;
				resize: none;
				outline: none;
			}

			button {
				width: 40px;
				background: none;
				border: none;
				padding-left: 10px;
				cursor: pointer;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

.hamburger {
	transition: all 0.4s ease-in;
	display: none;
	padding: 15px;
	background: none;
	border: none;
	cursor: pointer;
	// margin-left: 55px;

	.hamburger-box {
		width: 25px;
		height: 2px;
		display: inline-block;
		position: relative;

		.hamburger-inner {
			width: 100%;
			height: 2px;
			background-color: #333;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.hamburger-box {

		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			width: 25px;
			height: 2px;
			background-color: #333;
			position: absolute;
			left: 0;
			transition: all .4s ease-in-out;
		}

		.hamburger-inner::before,
		.hamburger-inner::after {
			content: "";
		}

		.hamburger-inner::before {
			top: -7px;
		}

		.hamburger-inner::after {
			top: 7px;
		}
	}
}

.is-active {

	// transform: translateX(-200px);
	.hamburger-box {
		.hamburger-inner {
			height: 0px;
		}

		.hamburger-inner::before {
			transform: rotate(45deg) translateY(7px) translateX(3px);
		}

		.hamburger-inner::after {
			transform: rotate(-45deg) translateY(-7px) translateX(3px);
		}
	}
}

@media (max-width: 900px) {
	.hamburger {
		display: block;
	}

	.chat {
		width: 100%;

		.contactInfo {
			padding-left: 0px;
		}

		.chatBox {
			.chatMessage {
				.me {
					font-size: clamp(12px, 1vw, 18px);
				}

				.contact {
					font-size: clamp(12px, 1vw, 18px);
				}
			}

			form {
				height: 35px;

				textarea {
					width: 85%;
					font-size: clamp(8px, 1vw, 15px);
				}
			}
		}
	}
}